<nav class="navbar navbar-fixed-top header">
	<div class="col-md-12">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">TiME</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
				<i class="glyphicon glyphicon-search"></i>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse1">
			<ul class="nav navbar-nav navbar-right">
				{{^sessionUser}}
				<li><a href="/user/loginForm" role="button">Log In</a></li>
				<li><a href="/user/register" role="button">Register</a></li>
				{{/sessionUser}}
				{{#sessionUser}}
				<li>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
							class="glyphicon glyphicon-bell"></i></a>
					<ul class="dropdown-menu">
						<li><a href="/">TiME</a></li>
						<li><a href="/user/logout" role="button">Log Out</a></li>
						<li><a href="/user/{{user_id}}/form" role="button">Edit Profile</a></li>
					</ul>
				</li>
				<li><a href="/user/list"><i class="glyphicon glyphicon-user"></i></a></li>
				{{/sessionUser}}
			</ul>
		</div>
	</div>
</nav>
<div class="navbar navbar-default" id="subnav">
	<div class="col-md-12">
		<div class="collapse navbar-collapse" id="navbar-collapse2">
			<ul class="nav navbar-nav navbar-left">
				<li class="active"><a href="/question/qnaList/1">Posts</a></li>

			</ul>
		</div>
	</div>
</div>