<!DOCTYPE html>
<html lang="kr">

<head>
    {{>include/header}}
</head>

<body>
    <div class="wrapper">
        {{>include/nav}}

        <div class="container" id="main">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default content-main">
                    <form name="question" method="post" action="/user/update/{{id}}">
                        <input type="hidden" name="id" value="{{id}}" />
                        <div class="form-group">
                            <label for="email">사용자 이메일</label>
                            <input class="form-control" id="email" name="email" placeholder="User email"
                                value="{{user.email}}" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="name">성</label>
                            <input class="form-control" id="firstName" name="firstName" placeholder="firstName" value="{{user.firstName}}">
                            <label for="lastName">이름</label>
                            <input class="form-control" id="lastName" name="lastName" placeholder="lastName" value="{{user.lastName}}">
                        </div>
                        <button type="submit" class="btn btn-success clearfix pull-right">개인정보수정</button>
                        <div class="clearfix">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{>include/footer}}
    </div>
</body>

</html>