<!DOCTYPE html>
<html lang="kr">

<head>
    <link rel="stylesheet" href="/css/main.css" />
    {{>include/header}}

</head>

<body>
    <div class="wrapper">
        {{>include/nav}}

        <div class="container" id="aboutMe">

            <!-- Banner -->
            <section id="banner">
                <div class="inner">
                    <h2>パク・テウォンの 　PortFolio</h2>
                    <p>“一気に一つずつしっかりしよう。”<br />
                        この言葉を自分の　モットーにしている。<br />
                        パクテウォンと申します。</p>
                    <ul class="actions special">
                    </ul>
                </div>
                <a href="#one" class="more scrolly">READ More</a>
            </section>

            <!-- One -->
            <section id="one" class="wrapper style1 special">
                <div class="inner">
                    <header class="major">
                        <h2>必ずやらなければならないことをしろ、次はできることからしろ。
                            <br />だとすれば不可能だと考えたこともしている自分を発見できる。</h2>
                        <p>私はいつも問題にぶつかった時<br>順番を決めて解決する方法を考えることができるように努力しています。</p>
                    </header>
                    <ul class="icons major">
                        <li><span class="icon solid fa-code major style1"><span class="label">Lorem</span></span></li>
                        <li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
                        <li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li>
                    </ul>
                </div>
            </section>

            <!-- Two -->

            <section id="three" class="wrapper style3 special">
                <div class="inner">
                    <header class="major">
                        <h2>自分が知っているITスキル</h2>
                        <p>私が勉強をしてみたり
                            使ったことのある技術について説明しておいたものです。</p>
                    </header>
                    <ul class="features">
                        <li class="icon fa-paper-plane">
                            <h3>言語</h3>
                            <p>
                                <i class="fas fa-code"></i> &nbsp; JAVA <br />
                                <i class="fas fa-code"></i> &nbsp; c /c++　<br />
                                <i class="fas fa-code"></i> &nbsp; c＃　<br />
                            </p>

                        </li>
                        <li class="icon solid fa-laptop">
                            <h3>DB</h3>
                            <p>
                                <i class="fas fa-code"></i> &nbsp; ORACLE<br />
                                <i class="fas fa-code"></i> &nbsp; MYSQL<br />
                                <i class="fas fa-code"></i> &nbsp; PostgreSQL
                            </p>
                        </li>
                        <li class="icon solid fa-code">
                            <h3>WEB</h3>
                            <p>HTML<br />
                                <i class="fas fa-code"></i> &nbsp; JS <br />
                                <i class="fas fa-code"></i> &nbsp; CSS3<br />
                                <i class="fas fa-code"></i> &nbsp; JSP<br />
                                <i class="fas fa-code"></i> &nbsp; SERVLET<br />
                                <i class="fas fa-code"></i> &nbsp; JQery<br />
                                <i class="fas fa-code"></i> &nbsp; ajax

                            </p>
                        </li>
                        <li class="icon solid fa-headphones-alt">
                            <h3>FRAMEWORK</h3>
                            <p>
                                <i class="fas fa-code"></i> &nbsp; SPRING FrameWork(MVC2 LEGARCY)

                            </p>
                        </li>
                        <li class="icon fa-heart">
                            <h3>API Library</h3>
                            <p>
                                <i class="fas fa-code"></i> &nbsp; OPENCV <br />
                                <i class="fas fa-code"></i> &nbsp; BOOTSTRAP<br />
                                <i class="fas fa-code"></i> &nbsp; naver API <br />
                                <i class="fas fa-code"></i> &nbsp; OpenStreetmap API<br />
                                <i class="fas fa-code"></i> &nbsp; turn.js <br />
                                など。

                            </p>
                        </li>
                        <li class="icon fa-flag">
                            <h3>etc</h3>
                            <p>
                                <i class="fas fa-code"></i> &nbsp; apache Tomcat<br />
                                <i class="fas fa-code"></i> &nbsp; GITHUB <br />
                                <i class="fas fa-code"></i> &nbsp; AWS <br />
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- Three -->
            <section id="two" class="wrapper alt style2">

                <section class="spotlight">
                    <div class="image"><img src="/images/jsp_servlet.png" alt="" /></div>
                    <div class="content">
                        <h2>大学JSP/Selveltプロジェクト<br />
                            ボランティアマップ検索サービス</h2>
                        <p>住所を座標に変換した後、それをDBに入れてウェブで検索できるようにした地図サービスです。apiではなく、直接DBに座標を保存して利用する方法を習った。
                            <br />利用スキル:jsp,servlet,JDBC,openStreetmap<br />geoserver,postgresql(postgresgis),js,css /
                            ArcGIS
                        </p>
                        <p>GiTHUB: <a
                                href="https://github.com/ppej1/storage/tree/master/UNI_JSP_PROJECT">https://github.com/ppej1/storage/tree/master/UNI_JSP_PROJECT</a>
                        </p>

                    </div>
                </section>
                <section class="spotlight">
                    <div class="image"><img src="/images/gis.jpg" alt="" /></div>
                    <div class="content">
                        <h2>大学openCV分析プログラミング<br />
                            ドローンを利用した歩行者障害物DB化プロジェクト</h2>
                        <p>ドロンを利用して撮影して openCVで大きさと色で障害物を判別し、 地図と座標データを得ることができるかを分析するプロジェクト。
                            <br />利用スキル:c/c++ - OpenCV / arcGIS　</p>
                        <p>GiTHUB: <a
                                href="https://github.com/ppej1/storage/tree/master/UNI_GIS_PROJECT">https://github.com/ppej1/storage/tree/master/UNI_GIS_PROJECT</a>
                        </p>

                    </div>
                </section>
                <section class="spotlight">
                    <div class="image"><img src="/images/first_Prj.JPG" alt="" /></div>
                    <div class="content">
                        <h2>SC IT MASTER 1stプロジェクト<br />
                            PureJava CMD CRUD</h2>
                        <p>javaとJDBCを利用して作ったCRUDプロジェクトです。管理者モードとユーザーモードに分かれ、レベルが存在して機能制限をかけ、映像登録の修正削除、ユーザー登録の修正、削除、登録された資料照会などができるようにしました。
                            <br />利用スキル:JAVA(PURE)、ORACLE、JDBC
                        </p>
                        <p>GiTHUB: <a
                                href="https://github.com/ppej1/storage/tree/master/SCIT_FIRSTPROJECT/MITE">https://github.com/ppej1/storage/tree/master/SCIT_FIRSTPROJECT/MITE</a>
                        </p>

                    </div>
                </section>
                <section class="spotlight">
                    <div class="image"><img src="/images/single_Project.jpg" alt="" /></div>
                    <div class="content">
                        <h2>SC IT MASTER 2ndプロジェクト<br />
                            ConsolGame lental service</h2>
                        <p>一人でウェブを作ったゲームレンタルサービスです。スプリングフレームワークとbootstrap 勉強を中心に製作しました。
                            <br />利用スキル:html、css、js、bootstap、spring framework、java、ORACLE。</p>
                        <p>GiTHUB: <a href="https://github.com/ppej1/consolGame">https://github.com/ppej1/consolGame</a>
                        </p>

                    </div>
                </section>
                <section class="spotlight">
                    <div class="image"><img src="/images/3rd.JPG" alt="" /></div>
                    <div class="content">
                        <h2>SC IT MASTER 3rdプロジェクト<br />
                            店長のシークレットノート</h2>
                        <p>3人で作ったウェブプロジェクトです。CRUDを基盤にサラダチェーン店の在庫管理システム。 -現在進行中-
                            <br />使用スキル:Spring frame
                            work、Java、jsp、css、bootStrap、js、jQuery、bootStrap、react.js、chart.js、turn.js、 ORACLE。</p>
                    </div>
                </section>
                <!-- 2020 新しく勉強した事 -->
                <section class="spotlight">
                    <div class="image"><img src="/images/NodeJS.jpg" alt="" /></div>
                    <div class="content">
                        <h2>nodeJS_CLoneCodingプロジェクト<br />
                            wetube</h2>
                        <p>golden‐weeks中nodeJSの勉強のためCLoneCodingしたプロジェクトです。nodeJSとpugの勉強を中心に製作しました。
                            <br />利用スキル:pug(html)、css、js、mongoDB</p>
                        <p>GiTHUB: <a
                                href="https://github.com/ppej1/Fullstack_JS">https://github.com/ppej1/Fullstack_JS</a>
                        </p>

                    </div>
                </section>
                <section class="spotlight">
                    <div class="image"><img src="/images/c_shop.jpg" alt="" /></div>
                    <div class="content">
                        <h2>C#生活サポートプロ―ジェクト<br />
                            My LIfe</h2>
                        <p>JAVAと一緒によく使われるC#の概念をWinformを利用し私が必要だと思うのを簡単に作りながら勉強しました。
                            <br />使用スキル:C#(WinFrom)</p>
                        <p>GiTHUB: <a
                                href="https://github.com/ppej1/Pro_0_Mylife_C">https://github.com/ppej1/Pro_0_Mylife_C</a>
                        </p>
                    </div>
                </section>
            </section>

        </div>

        {{>include/footer}}
    </div>

</body>

</html>